# Environments
venv/
.env
*.env

# Databases
*.db
*.sqlite

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db

# Build Output
dist/
customers/
extracted_temp/
build_temp/

# Local Obfuscation Tools
build_encrypted_bot.py
compile_cython.py
generate_license.py
