# Environments
venv/
.env
*.env

# Databases
*.db
*.sqlite

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db

# Build Output
dist/
customers/
extracted_temp/
build_temp/

# Local Obfuscation & Commercial Tools (Strictly Local - Never push to GitHub)
bot_store/
bot_store_commercial/
customers/
build_temp/
*.so
*.pyd
*.zip
build_encrypted_bot.py
generate_license.py
build_cython_bot.py
customer_encryptor.py
.license_token

